<!--
Title: Forbidden Fruits
Used In File(s): /code/modules/mob/living/carbon/human/human.dm
-->

<div class='item'>
	 <h3>{{:data.src_name}}</h3>
</div>

<!-- Penis -->
{{if data.usr_gender == 1}}
	{{if data.usr_nude}}
		<div class='itemLabel'>
			Penis: 
		</div>

		<div class='itemContent'>
			{{if data.src_face}}
				{{:helper.link((data.src_gender==1?'Fuck his mouth':'Fuck her mouth'), null, {'fuck' : 'mouth'})}}
			{{/if}}

			{{if data.dist == 0}}
				{{if data.src_nude}}
					{{if data.src_gender == 1}}
						{{:helper.link('Fuck his anus', null, {'fuck' : 'anus'})}}
					{{else}}
						{{:helper.link('Fuck her anus', null, {'fuck' : 'anus'})}}
						{{:helper.link('Fuck her vagina', null, {'fuck' : 'vagina'})}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
{{/if}}

{{if data.usr_face}}
	<!-- Mouth -->
	<div class='itemLabel'>
		Mouth: 
	</div>

	<div class='itemContent'>
		{{if data.src_nude}}
			{{if data.src_gender == 0}}
				{{:helper.link('Lick her vagina', null, {'oral' : 'vagina'})}}
			{{else}}
				{{:helper.link('Give him a blowjob', null, {'oral' : 'penis'})}}
			{{/if}}
		{{/if}}
	</div>
{{/if}}
<a align="right">Criado por <b>Davipatuly</b>.</a>
<br>
<a align="right">Testes e efeitos sonoros por <b>VitorThauma</b>.</a>
<br>
<a align="right">Suporte financeiro por <b>Nopm</b>.</a>